<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="info" />
    </root>
    <logger name="DEFAULT_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_default" />
    </logger>
    <logger name="WXHOOKUI_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_wxhookui" />
    </logger>
    <logger name="WXHOOKSERVICE_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_wxhookservice" />
    </logger>
    
    <appender name="LogFileAppender_default" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\Wx.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>
    
    <appender name="LogFileAppender_wxhookui" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\Wx.Hook.UI.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

    <appender name="LogFileAppender_wxhookservice" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\Wx.Hook.Service.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>